:root {
  --theme-bg-color: #fcd7b6;
  --header-round-box-bg-color: #a3bbc8;
  --header-counters-bg-color: #fcd7b6;
  --header-menu-font-color: #436372;
  --banner-btn-bg-color: #a3bbc8;
  --banner-selector-bg-color: #fde3cc;
  --banner-active-selector-bg-color: #ffffff;
  --feature-backgroung: #fde3cc;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  font-size: medium;
}

a:link {
  text-decoration: none;
}

.body {
  color: #243f4d;
}

.wrapper {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 2070px;
  margin: 0px auto;
}

.header__top {
  height: 144px;
}

.logo-box {
  display: inline-flex;
  width: 75px;
}

.logo-img {
  object-fit: scale-down;
  width: 52px;
  height: 39px;
}

.logo-text {
  font-size: 36px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  color: rgb(67, 99, 114);
  line-height: 1.1;
  height: 100%;
  line-height: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 144px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.header__logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 148px;
  margin-right: 150px;
}

.header__logo-img {
  width: 52px;
  height: 42px;
}

.header__logo-text {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.header__menu-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
}

.header__menu-text {
    font-size: 15px;
    color: var(--header-menu-font-color);
    text-align: left;
}

.header__right-box {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.header__search-box {
  display: inline-flex;
  width: 52px;
  height: 52px;
}

.header__counters {
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--theme-bg-color);
  border-radius: 88px;
  width: 176px;
  padding: 3px 5px 0;
}

.header__link-box {
  border-radius: 50%;
  background-color: rgb(163, 187, 200);
  width: 51px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header__counters__delimiter {
  width: 1px;
  height: 30px;
  border-left: 1px solid #fff;;
}

.header__right-icon {
  height: 20px;
  width: 20px;
}

.counter-box {
  position: absolute;
  top: -10px;
  right: 20px;
  display: inline-flex;
  justify-content: center;
  height: 16px;
  width: 16px;
  background: #fff;
  border-radius: 50%;
}

.cart-group {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: var(--theme-bg-color);
  height: 52px;
}

.header-counter {
  font-weight: 300;
}

.banner {
  height: 870px;
  background-color: var(--theme-bg-color);
  display: flex;
  justify-content: space-evenly;
}

.banner__left {
  display: flex;
  flex-direction: column;
  padding-top: 218px;
  padding-left: 170px;
  width: 650px;
}

h1.banner__header {
  display: block;
  font-size: 72px;
  font-family: "Rubik";
  color: rgb(36, 63, 77);
  line-height: 0.972;
  text-align: left;
  padding-bottom: 25px;
  text-transform: uppercase;
}

h4.banner__subheader {
  display: block;
  font-size: 18px;
  font-family: "Rubik";
  color: rgb(67, 99, 114);
  line-height: 1.667;
  text-align: left;
  letter-spacing: 0.001em;
  width: 380px;
  margin-bottom: 36px;
}

button.shop-now {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgb(163, 187, 200);
  width: 200px;
  height: 60px;
}

.shop-now-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
}

h4.shop-now {
  font-size: 15px;
  font-family: "Rubik";
  color: rgb(255, 255, 255);
  line-height: 0.8;
  background-color: rgb(163, 187, 200);
}

.shop-now-arrow {
  width: 22px;
  height: 9px;
}

.banner__right {
  position: relative;
  width: 840px;
}

.banner__right__img {
  padding-top: 280px;
}

img.divan {
  display: block;
  position: relative;
  max-width: 100%;
  height: 264px;
  z-index: 999;
}

.banner__ellipse {
  position: absolute;
  top: 100px;
  left: 120px;
  border-radius: 50%;
  background: linear-gradient(to right, transparent, #ffffff);
  width: 634px;
  height: 634px;
}

/* feature */

.feature__items {
  background-color: var(--feature-backgroung);
  display: flex;
  justify-content: space-around;
  height: 170px;
  padding-top: 47px;
}

.content + .feature__item {
  width: 300px;
}

.feature__item {
  position: relative;
  font-family: "DM Sans", sans-serif;
}

.feature__item h3 {
  font-size: 18px;
  font-weight: 700;
  color: #414141;
  margin-bottom: 10px;
}

.feature__item p {
    color: #585858;
    font-size: 16px;
    line-height: 30px;
}

.feature__item--support::before {
  content: url("../img/support-icon.png");
  position: absolute;
  left: -70px;
  top: 0;
  height: 50px;
  width: 50px;
}

.feature__item--delivery::before {
  content: url("../img/delivery-icon.png");
  position: absolute;
  left: -70px;
  top: 0;
  height: 50px;
  width: 50px;
}

.feature__item--payment::before {
  content: url("../img/payment-icon.png");
  position: absolute;
  left: -70px;
  top: 0;
  height: 50px;
  width: 50px;
}
/* @media screen and (max-width: 1920) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
} */